*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
    background-color: #19172E;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    text-align: center;
    ;
}

h1 {
    color: white;
}

section {
    display: flex;
    justify-content: center;
}

.boxForEmoji {
    border-style: none;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin-top: 15%;
    background-color: #303030;
    backdrop-filter: blur(25px);
    transition: all 0.3s ease-in-out;
    filter: grayscale();
    font-size: 5rem;
}

.boxForEmoji:hover {
    /* background-color: red; */
    width: 200px;
    height: 200px;
    filter: none;
}

